#!/bin/bash

OUTPUT_DIR=$1
PARTITION_NAME=$2

docker compose \
    run \
    --build \
    --rm \
    -v ${OUTPUT_DIR}:/backup:rw \
    --entrypoint "bash /app/openrag/scripts/entrypoint-backup.sh ${PARTITION_NAME}" \
    openrag-cpu

