#!/bin/bash

BACKUP_DIR=$1
BACKUP_FILE=$2
PARTITION_NAME=$3

docker compose \
    run \
    --build \
    --rm \
    -v ${BACKUP_DIR}:/backup:ro \
    --entrypoint "bash /app/openrag/scripts/entrypoint-restore.sh ${BACKUP_FILE} ${PARTITION_NAME}" \
    openrag-cpu

