name: Smoke test

on:
  push:
  workflow_dispatch:

jobs:
  index-backup-restore:
    runs-on: ubuntu-latest
    steps:
      - name: Update apt and install packages
        run: |
          df -h
          echo ${PWD}
          sudo apt update
          sudo apt install -y curl git jq
          sudo apt clean
          sudo apt autoremove --purge -y

      -
        name: Set up Docker Compose
        uses: docker/setup-compose-action@v1
        with:
          version: v2.34.0

      -
        name: Free up space and move Docker storage to /mnt
        run: |
          echo "Stopping Docker..."
          sudo systemctl stop docker

          echo "Creating new Docker root at /mnt/docker..."
          sudo mkdir -p /mnt/docker
          sudo rsync -aqxP /var/lib/docker/ /mnt/docker

          echo "Updating Docker daemon config..."
          echo '{"data-root": "/mnt/docker"}' | sudo tee /etc/docker/daemon.json

          cat /etc/docker/daemon.json

          echo "Restarting Docker..."
          sudo systemctl start docker

          echo "Verifying Docker root directory:"
          docker info | grep "Docker Root Dir"

      -
        name: Checkout current branch
        uses: actions/checkout@v5
        with:
          submodules: true

      -
        name: Set up env
        run: |
          cp .github/workflows/smoke_test/.env ./
          cp .github/workflows/smoke_test/*.yaml ./

      -
        name: Patch vllm to v0.9.2
        run: sed -Ei 's/checkout v[0-9\.]+/checkout v0.9.2/' extern/vllm/Dockerfile.cpu

      -
        name: Build
        run: docker compose --profile cpu build

      -
        name: Run
        run: |
          docker compose --profile cpu up -d || docker logs openrag-vllm-cpu-1
          .github/workflows/smoke_test/wait_for_healthy.sh openrag-vllm-cpu-1

      -
        name: Cleanup
        run: |
          docker container prune -f
          docker image prune -f
          docker builder prune -f
          df -h

      -
        name: List containers
        run: docker container ls

      -
        name: Install Python venv
        run: |
          python3 -m venv venv
          source venv/bin/activate
          pip3 install -r utility/requirements.txt

      -
        name: Index 500 documents
        run: .github/workflows/smoke_test/index_docs.sh

      -
        name: Create backup
        run: |
          mkdir ${PWD}/backup
          docker compose run --rm -v ${PWD}/backup:/backup:rw --entrypoint "bash /app/openrag/scripts/entrypoint-backup.sh simplewiki-500" openrag-cpu
          wc -l backup/simplewiki-500.openrag

      -
        name: Change parition name
        run: sed 's/"simplewiki-500"/"simplewiki-500-2"/g' backup/simplewiki-500.openrag > backup/tmp.openrag

      -
        name: Restore from modified backup
        run: |
          docker compose run --rm -v ${PWD}/backup:/backup:ro --entrypoint "bash /app/openrag/scripts/entrypoint-restore.sh simplewiki-500-2 /backup/tmp.openrag" openrag-cpu

      -
        name: Create backup again
        run: |
          docker compose run --rm -v ${PWD}/backup:/backup:rw --entrypoint "bash /app/openrag/scripts/entrypoint-backup.sh simplewiki-500-2" openrag-cpu
          wc -l backup/simplewiki-500-2.openrag

      -
        name: Compare backups
        run: |
          sed -i 's/"simplewiki-500-2"/"simplewiki-500"/g' backup/simplewiki-500-2.openrag
          diff <(grep -Ev '^{"created": ' backup/simplewiki-500.openrag) <(grep -Ev '^{"created": ' backup/simplewiki-500-2.openrag)

